#home { /* child of content*/
    /* border: 2px dashed red; */
    /* margin: 8px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    text-align: center;
}
#who-div {
    grid-column: 1/-1;
    /* border: 2px solid black; */
    /* text-align: center; */
}